{% extends 'base_admin.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="mb-0 text-gray-800">Réponse</h1>
          <a href="{{ path('comment_admin') }}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-comments fa-sm text-white-50"></i> Retour au commentaires</a>
        </div>
        <br>

        <p>Voici le commentaire qui est associé à la réponse</p>
            <div class="col-12 mt-2">
                <div class="card">
                    <div class="card-body">
                        <span class="card-text text-muted">Par {{ comment.author.pseudo|capitalize }} le {{ comment.commentDate|date("d/m/y")}} </span><br>
                        {{comment.content|raw }}
                    </div>
                </div>
            </div>
                {% if comment.reply != null %}
                {% for reply in comment.reply %}
                    {% if reply.isVerified == true %}
                    <br>
                    <div class ="row">
                    <div class="col-2 mt-2">
                    </div>
                    <div class="col-10 mt-2">
                        <div class="card">
                            <div class="card-body">
                                <span class="card-text text-muted ">Par {{ reply.author.pseudo|capitalize }} le {{ reply.commentDate|date("d/m/y")}} </span><br>
                                {{reply.content|raw }}
                            </div>
                        </div>
                    </div>
                    </div>
                    {% endif %}
                    
                    
                {% endfor %}
                {% endif %}


    {{ form_start(form) }}
            <label for="content">Modifier le commentaire:</label>
            {{ form_widget(form.content) }}
            <span class="text-danger">{{ form_errors(form.content)}}</span>
            <br>
            {% if reply.isVerified %}
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck" name="isVerified" checked>
                <label class="form-check-label" for="gridCheck">
                    Commentaire vérifié
                </label>
            </div>

            {% else %}
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck" name="isVerified">
                    <label class="form-check-label" for="gridCheck">
                        Commentaire vérifié 
                    </label>
                </div>
            {% endif %}
            
            <br>
            <input type="submit" name="Commenter" value="Modifier" class="btn btn-primary">

            {{ form_end(form) }}
            <br>

    {% block javascripts %}

    {% endblock %}

{% endblock %}