<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="icon" href="{{ asset('assets/sportfoodyou.ico') }}" />
		<title>Sport Food You {% block title %}{% endblock %}</title>
		<meta name="description" content="Sport Food You Le blog sport, santé et alimentation par excellence. Venez découvrir les meilleurs conseils pour atteindre les meilleurs performances">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="robots" content="all,follow">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/bootstrap.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/blog.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body id="page-top">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container">
                <a class="navbar-brand" href=" {{ path('homepage') }}">SportFoodYou</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto text-center">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('homepage') }}">Accueil</a>
                    </li>
                   
                    </ul>
                    
                    <div class=" my-2 my-lg-0">
                        <ul class="navbar-nav mr-auto text-center" >
                        {% if app.user %}
                            {% if is_granted("ROLE_ADMIN") %}
                            <li class="nav-item active">
                                <a class="nav-link" href="{{ path('admin') }}">Admin</a>
                            </li>
                            {% endif %}	
                            <li class="nav-item dropdown active">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-fw fa-user"></i></a>
                                <div class="dropdown-menu" style="">
                                <a class="dropdown-item" href=" {{ path('profile_edit') }} ">Mon profil</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{path('app_logout')}}">Déconnexion</a>
                                </div>
                            </li>
                        {% else %}
                            <li class="nav-item active">
                                <a class="nav-link" href="{{ path('app_register') }}">Inscription</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
                            </li>
                        {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
            {% block header %}{% endblock %}
        <br>
        <div class="container">
        {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
        {% endfor %}

        {% for message in app.flashes('error') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}
        

        {% block body %}{% endblock %}
        </div>
        <footer class="py-5 bg-dark">
            <div class="container">
            <p class="m-0 text-center text-white">SportFoodYou</p>
            </div>
            <!-- /.container -->
        </footer>
        </div>
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>
        
        <script src="{{ asset('assets/js/admin/jquery.min.js') }}"></script>
        <script src="{{ asset('assets/js/admin/bootstrap.bundle.min.js') }}"></script>

        {% block javascripts %}{% endblock %}   
    </body>
</html>
